/* Tabs */

.tab-text {
    padding-right: 1.75rem;
}

.tab-close-button {
    padding-right: 1rem;
    height: 100%;
    right: 0;
    
    background-color: white;
    -webkit-mask: url("x.svg") no-repeat center;
    /* background-image: url("x.svg") no-repeat center; */
}

.tab-close-button:hover {
    opacity: 0.75;
}

.tab-close-button:active {
    opacity: 0.5;
}

.nav-item :not(.active) + .tab-close-button {
    opacity: 0;
}

.nav-item :not(.active):hover + .tab-close-button,
.nav-item :not(.active) + .tab-close-button:hover {
    opacity: 1;
}


/* Portfolio */

.portfolio-total-cost-container {
    position: absolute;
    right: 0.75rem;
    top: 1rem;
} 

.portfolio-all-day-switch {
    text-decoration: underline;
    font-weight: 400;
}

.portfolio-logo {
    height: 20px;
    width: 20px;
    min-width: 20px;
    padding: 2px;
    border-radius: 50%;
    background-size: 100%;
    background-color: lightgrey;
}

.portfolio-logo:hover {
    box-shadow: grey 0px 0px 5px;
}

@media (min-width: 768px) {
    .portfolio-asset {
        max-width: 10rem;
    }
    .portfolio-asset span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.portfolio-asset-button-remove {
    min-width: calc(1.15rem + 2px);
    visibility: collapse;
    color: white;
}

.portfolio-asset-button-remove:hover {
    color: gray;
}

.portfolio-asset:hover .portfolio-asset-button-remove {
    visibility: visible;
}

/* Animations */

.animation-fade {
    animation: fade 3s reverse forwards;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animation-up {
    animation: up 2s forwards;
}

@keyframes up {
    from { top: 0; }
    to { top: -0.75rem; }
}

.animation-down {
    animation: down 2s forwards;
}

@keyframes down {
    from { top: 0; }
    to { top: 0.75rem; }
}

/* Other */

.inaccurate-value-text {
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}

.thead-sticky th {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    color: var(--white);
    background-color: var(--dark);
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}
