/* Tabs */

.tab-text {
    padding-right: 1.75rem;
}

.tab-close-button {
    padding-right: 1rem;
    height: 100%;
    right: 0;
    
    background-color: white;
    -webkit-mask: url("x.svg") no-repeat center;
    mask: url("x.svg") no-repeat center;
    /* background-image: url("x.svg") no-repeat center; */
}

.tab-close-button:hover {
    opacity: 0.75;
}

.tab-close-button:active {
    opacity: 0.5;
}

.nav-item :not(.active) + .tab-close-button {
    opacity: 0;
}

.nav-item :not(.active):hover + .tab-close-button,
.nav-item :not(.active) + .tab-close-button:hover {
    opacity: 1;
}


/* Portfolio */

.portfolio-total-cost-container {
    position: absolute;
    right: 0.75rem;
    top: 1rem;
} 

.sort-positions-button {
    display: inline-flex;
    cursor: pointer;
}

.price-change-unit-switch,
.portfolio-expected-unit-switch,
.portfolio-all-day-switch {
    text-decoration: underline;
    font-weight: 400;
}

.portfolio-logo {
    height: 20px;
    width: 20px;
    min-width: 20px;
    padding: 2px;
    border-radius: 50%;
    background-size: 100%;
    background-color: lightgrey;
}

.portfolio-logo:hover {
    box-shadow: grey 0px 0px 5px;
}

@media (min-width: 768px) {
    .portfolio-asset {
        max-width: 10rem;
    }
    .portfolio-asset span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.portfolio-asset-button-remove {
    min-width: calc(1.15rem + 2px);
    visibility: collapse;
    color: white;
}

.portfolio-asset-button-remove:hover {
    color: gray;
}

.portfolio-asset:hover .portfolio-asset-button-remove {
    visibility: visible;
}

.portfolio-asset-bookmark {
    margin-left: -6px;
    visibility: hidden;
    /* transform: rotate(-90deg) scaleX(1.25) scaleY(0.8);  */
    width: 12px;
    height: 16px;
    background-color: #51535D;
    -webkit-mask: url("bookmark.svg") no-repeat center;
    mask: url("bookmark.svg") no-repeat center;
    transform: scale(0.8);
    flex-shrink: 0;
}

.portfolio-asset-bookmark:hover {
    background-color: #5E606A;
}

.portfolio-asset:hover .portfolio-asset-bookmark {
    visibility: visible;
}

.portfolio-asset-bookmark.portfolio-asset-bookmark-active {
    /* background-color: #EC5F59; */
    background-color:  #DF5B55;
    visibility: visible;
}

.portfolio-asset-bookmark.portfolio-asset-bookmark-active:hover {
    /* background-color: #dc3545; */
    background-color: #E15241;
}

.requests-queue {
    display: flex;
    align-items: center;
    color: var(--warning);
    font-size: 0.8em;
    cursor: help;
}

.requests-queue span {
    margin-left: 5px;
}

.requests-queue .spinner-border {
    display: none;
    border-width: 0.1em;
    height: 0.8em;
    width: 0.8em;
}

/* Animations */

.animation-fade {
    animation: fade 3s reverse forwards;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animation-up {
    animation: up 2s forwards;
}

@keyframes up {
    from { top: 0; }
    to { top: -0.75rem; }
}

.animation-down {
    animation: down 2s forwards;
}

@keyframes down {
    from { top: 0; }
    to { top: 0.75rem; }
}

/* Trading */

.trading-panel {
    height: 5rem;
}

.trading-chart-container {
    background: green;
    display: flex;
}

.trading-chart {
    flex-grow: 1;
}

.trading-chart-period-buttons {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.trading-chart-period-button {
    line-height: 1.15rem;
}

.trading-asset {
    font-size: 1.25rem;
}

.trading-price-container {
    padding: 0.25rem;
}

.trading-price {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.trading-price-change {
    font-size: 1.15rem;
    line-height: 1.25rem;
}

.trading-place-order input {
    width: 5rem;
}

.order-cancel-button {
    min-width: calc(1.15rem + 2px);
    color: white;
}

.order-cancel-button:hover {
    color: gray;
}

/* Other */

.inaccurate-value-text {
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}

.thead-sticky th,
.tfoot-sticky td {
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    color: var(--white);
    background-color: var(--dark);
}

.thead-sticky th {
    top: -1px;
}

.tfoot-sticky td {
    bottom: -1px;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.loading-container {
    margin: 1rem;
}

#confirm-modal .modal-dialog {
    max-width: 300px;
}

#confirm-modal .modal-body .text {
    white-space: pre-line;
}

.toasts-overlay {
    z-index: 20;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.toasts-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5px;
}

.toast-message {
    color: white;
    background: #137cbd;
    border-radius: 3px;
    box-shadow: 
        0 0 0 1px rgb(16 22 26 / 10%), 
        0 2px 4px rgb(16 22 26 / 20%), 
        0 8px 24px rgb(16 22 26 / 20%);
    margin: 15px 0 0;
    max-width: 500px;
    min-width: 300px;
    pointer-events: all;
    position: relative;
    display: flex;
    align-items: center;
}

.toast-message a {
    color: hsla(0, 0%, 100%, .75);
}

.toast-message.info {
    background: #137cbd;
}

.toast-message.success {
    background: #0f9960;
}

.toast-message.error {
    background: #db3737;
}

.toast-message .toast-icon {
    margin: 0 12px
}

.toast-message .toast-text {
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.15;
}

.toast-message button {
    color: hsla(0, 0%, 100%, .75);
    border: none;
    background: none;
    margin-right: 6px;
    border-radius: 3px;
    height: 30px;
    margin: 5px;
    margin-left: 0;
}

.toast-message button:hover {
    background-color: hsla(0, 0%, 100%, .15);
    color: white;
}

.toast-message button.toast-close {
    padding: 0 8px;
    font-size: 20px;
}

.toast-down {
    animation: down 0.2s forwards;
}
